#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
.contactContainer {
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column; }

.links {
  display: flex;
  align-items: center;
  justify-content: center; }

.links > div {
  padding: 20px; }

.links > div > a {
  color: inherit; }

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.address {
  font-family: 'Indie Flower', cursive;
  color: black;
  font-size: 30px; }

.headline > h1 {
  font-family: 'Indie Flower', cursive;
  color: black; }

.contactLink {
  text-decoration: none; }
  .contactLink:focus, .contactLink:hover, .contactLink:visited, .contactLink:link, .contactLink:active {
    text-decoration: none; }

.contactImage {
  width: 140px;
  height: 140px; }
.aboutContainer {
  flex: 1;
  flex-direction: row; }

.summaryContainer {
  padding-top: 30px;
  display: flex;
  flex: 1;
  flex-direction: row; }

.about {
  margin-left: 40px auto;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

.about .paragraphWrapper {
  display: table; }

.about > .paragraphWrapper > .paragraph {
  font-family: 'Fresca', sans-serif;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  display: table-cell; }

.skillsRadar {
  flex: 1; }

.timeline {
  border-left: 4px solid black;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: lightgray;
  color: fade(white, 80%);
  font-family: 'Fresca', sans-serif;
  margin: 20px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 80%; }

.event {
  border-bottom: 1px solid black;
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
  font-size: 20px; }
  .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none; }
  .event:before, .event:after {
    position: absolute;
    display: block;
    top: 0; }
  .event:before {
    left: -217.5px;
    color: fade(black, 40%);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    font-family: 'Fresca', sans-serif; }
  .event:after {
    box-shadow: 0 0 0 4px fade(#004ffc, 100%);
    left: -57.85px;
    background: gray;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px; }
.footer {
  width: 100%;
  height: 100px;
  background: black;
  color: white;
  order: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

.footer > h2 {
  font-family: 'Fresca', sans-serif;
  letter-spacing: 0.2em; }
.main-container {
  background: #C02425;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F0CB35, #C02425);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F0CB35, #C02425);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

.avatar > .MuiAvatar-root {
  width: 300px;
  height: 300px;
  border-radius: 40%;
  margin: auto; }

.banner {
  padding-top: 40px;
  width: fit-content;
  margin: auto;
  flex: 1;
  height: 200px; }

.banner > .Typist > span, h1, .Cursor--blinking {
  display: inline-block;
  font-family: 'Fresca', sans-serif;
  color: white;
  letter-spacing: 0.1em;
  font-size: 40px; }
.header {
  background: #C02425;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F0CB35, #C02425);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F0CB35, #C02425);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.menuButton {
  margin-right: 2; }

.menuButton > .MuiIconButton-label {
  color: white; }

.title {
  flex-grow: 1;
  font-family: 'Fresca', sans-serif;
  font-size: 40px;
  margin: 0px;
  padding-left: 20px; }

.MuiButton-label > a {
  text-decoration: none;
  color: white; }

.menuItem {
  padding: 0; }

.menuItem .MuiButton-label a {
  padding-left: 20px;
  font-family: 'Fresca', sans-serif;
  font-size: 30px; }
.projectsContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 1;
  display: flex;
  flex-direction: column; }

.paper {
  flex: 1; }

.card {
  max-width: 300px;
  height: fit-content;
  flex: 1; }

.cardContainer {
  padding-top: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJhcHAuYnVuZGxlLmNzcyIsInNvdXJjZVJvb3QiOiIifQ==*/