.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links > div {
    padding: 20px;
}

.links > div > a {
    color: inherit;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.address {
    font-family: 'Indie Flower', cursive;
    color: black;
    font-size: 30px;
}

.headline > h1 {
    font-family: 'Indie Flower', cursive;
    color: black;
}

.contactLink {
    text-decoration: none;

    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
    }
}

.contactImage {
    width: 140px;
    height: 140px;
}