html, body {
    //font-family: 'Bitter', serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    background: #0c091d;
}
/*
html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0px;
}
*/